.nav-item{
    color: rgb(201, 41, 41);
    font-size: 20px;
}


.navbar-custom {
    background-color: #1b00eb00;   
}

#navbarNav{
    margin-left: 60px;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
    font-size: 35px;
    margin-left: 60px;
    font-family: 'Baloo 2', cursive;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #f8f8f8;
    font-family: 'Baloo 2', cursive;
    font-size: 25px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link:hover
 {
    color: rgb(240, 2, 42);
}


/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
    color: #f50909;
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
    color: #b40000;
    background-color: rgb(0, 0, 0);
}

.navbar-toggler{
    color: white;
}

.home {
    display: flexbox;
    color: white;
    width: auto;
    height: 800px;
    padding: 0 80px;
    margin: auto;
    padding-top: 250px;
}

.homecomp .text1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;

}
.homecomp .text2{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}
.homecomp .text3{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    
}

.btn1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-left: 200px;
    border:none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #f00000;
}
.btn1:hover{
    transform: scale(1.01);
    color: aliceblue;
}

.homecomp .text3 span{
    color:red
}
