<body class="homebody">
    <nav class="navbar fixed-top navbar-expand-lg navbar-custom">

        <div class="container-fluid">
            <a class="navbar-brand" 
            data-aos="fade"
            data-aos-duration="3000"
            
            href="#">Portfolio</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto pe-5">
                    <li class="nav-item pe-5">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link" href="#">About Me</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link" href="#">Education</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link" href="#">Skills</a>
                    </li>
                    <li class="nav-item me-5 pe-5">
                        <a class="nav-link" href="">Contact Me</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <section class="home .homecomp" id="home">
        <div class="homecomp">
            <div class="text1">
                Hello, My Name is
            </div>

            <div class="text2"
            data-aos="fade-right"
                data-aos-duration="3000">
                Vysakh M Nair
            </div>

            <div   class="text3">
                I am a <span 
                data-aos="fade"
                data-aos-duration="3000"
                data-aos-delay="2000"
                    >MEARN Stack Developer</span>
            </div>
            <div>
                <button 
                data-aos="flip-right"
                
                data-aos-duration=3000
                data-aos-delay="3000"
                 class="btn btn-danger btn1"

                >CONTACT ME</button>
            </div>

        </div>
    </section>
</body>